//**********LIGHT
$global-color__light: #ddd;

//**********DARK
$global-color__dark_l: #555;
$global-color__dark: #434343;

//**********ERRORS

//**********PRIMARY
$global-color__primary: #74ae2d;

//**********SECONDARY
$global-color__secondary: #284a38;

//**********SOCIAL
$global-color__social_vk: #4C75A3;
$global-color__social_fb: #6081C4;
$global-color__social_tw: #43BDEF;
$global-color__social_ok: #F89D45;
